/*========================
лого хэдер
========================*/

header {
	font-family: "Open Sans";
	box-sizing: border-box;
	height: 117px;

}

header {	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(234,234,234,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 )
}


header p {
	font-size: 9px;
	float: left;	
	vertical-align: middle;	
	margin-left: 12px;
	margin-top: 34px;
}
.contact {
	font-size: 10px;
}

.city {
	border-bottom:1px dashed black;
}

.phone {
	font-weight:bold;
	font-family: "Open Sans";
	font-size: 25px;
	height: 32px;
}

.logo-header {
	overflow: hidden;
	float:left;
	margin-top: 11px;
	
}

.logo {
	float: left;

}


.tel{
	margin-top: 26px;
	float: right;
	text-align:right;
}

.container-fluid {
	padding-right: 0px; 
	padding-left: 0px; 
	margin-right: auto;
	margin-left: auto;
}    

.social {
	margin-right: 18px;
}

.logo>a>img {
	width:100%;
}
.social img {
	padding-left: 2px;
}



/*===================
навигация
===================*/
.navbar {
	float:none;
	background: #fff;
	position: relative;
	border-radius: 0px;
	top: -20px;
    z-index: 10;

}
.navbar-default, .head-info {
	width: 940px;
	margin-left:auto;
	margin-right:auto;
}


.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-left: 18px;
	padding-right: 18px;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 5px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	margin-left: 0px;
	padding-left:  18px;
	padding-right: 18px;
}
.navbar-default .navbar-nav>.demo-link>a {	
	border-right:none;
}

.text-uppercase a {
	display: inline-block;
}

.navbar-default .navbar-nav>.demo-link>a {
	background:#57bd20; 
	border-bottom: 5px solid #3f9b26;
	color:#ffffff;
	padding-right: 19px;
	padding-left: 19px;

}

.navbar-default .navbar-nav>li>a:hover {
	background:#57bd20; 
	border-bottom: 5px solid #3f9b26;
	color:#ffffff;
}







@media  (max-width: 960px) { 

.head-info {
	padding: 0 10px;
}

 .logo>a>img  {
	height: auto;
	
}

.logo {
	width:130px;
}
.navbar-default, .head-info {
	width:100%;
}
header p {
    margin-top: 17px;
}

.tel {
    margin-top: 15px;
}
.navbar-nav {
  margin: 0;
}

} 
	

@media  (max-width: 767px) {

.logo-header {
    overflow: hidden;
    float: none;
    width: 287px;
    margin: 11px auto 0 auto;
}
header {
	height: auto;
	padding-bottom: 10px;
}
.tel {
    margin-top: 26px;
    float: none;
    text-align: right;
    width: 205px;
    margin: 15px auto 0 auto;
}

.navbar {
    top: auto;
 }

 .navbar-header {
 	padding: 0 10px;
}


}



/** TOP NAVIGATION BUTSTRAP CUSTOMIZE **/ 

@media(min-width: 768px) { 
.navbar-collapse.collapse { 
display: none !important; 
visibility: hidden !important; 
height: auto !important; 
padding-bottom: 0; 
overflow: hidden !important; 
} 
.navbar-collapse.in { 
display: block !important; 
visibility: visible !important; 
} 
.navbar-toggle { 
display: block; 
} 
.navbar-header { 
float: none; 
} 
 .navbar-nav>li {
    float: none;
}
.navbar-collapse.collapse, 
.navbar-collapse.collapse.in,
.navbar-collapse.collapsing {
  padding: 0;
}
.navbar-nav {
    float: none;
    margin: 0;
  }
} 
@media(min-width: 960px) { 
.navbar-collapse.collapse { 
display: block !important; 
visibility: visible !important; 
height: auto !important; 
padding-bottom: 0; 
overflow: hidden !important; 
padding: 0; 
} 
.navbar-toggle { 
display: none; 
} 
.navbar-header { 
float: left; 
} 
.navbar-nav>li {
float: left;
}
} 
/*** TOP NAVIGATION BOOTSTRAP CUSTOMIZE END***/